@page "/footer"
<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h2>Anuncia Picos!</h2>
            <p>Atendimento ao cliente:</p>
            <p class="phone">(89) 4002-8922</p>
            <p>Picos, Piauí, Brasil.</p>
            <p class="email">jorgin@pressão.com</p>
        </div>
        
        <div class="footer-col">
            <h4>CATEGORIAS PRINCIPAIS</h4>
            <ul>
                <li>Computador & Laptop</li>
                <li>SmartPhone</li>
                <li>Fone de ouvido</li>
                <li>— Acessórios</li>
                <li>Fotografia</li>
                <li>TV</li>
            </ul>
        </div>

        <div class="footer-col tags">
            <span>Game</span>
            <span>iPhone</span>
            <span>TV</span>
            <span>Asus Laptops</span>
            <span>Macbook</span>
            <span>SSD</span>
            <span>Placa gráfica</span>
            <span>Power Bank</span>
            <span>Smart TV</span>
            <span>Casa</span>
            <span>Tablet</span>
            <span>RAM</span>
            <span>Samsung</span>
        </div>
    </div>
</footer>
